<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)\.css$ $1.css [L]
    RewriteRule ^tango/(.*)\.css$ tango/$1.css [L]
    RewriteRule ^(.*)\.png$ $1.png [L]
    RewriteRule ^(.*)\.jpg$ $1.jpg [L]
    RewriteRule ^(.*)\.jpg$ $1.svg [L]
    RewriteRule ^(.*)\.js$ $1.js [L]
    RewriteRule ^js/(.*)\.js$ js/$1.js [L]
    RewriteRule ^fotos/(.*)\.jpg$ $fotos/1.jpg [L]
    RewriteBase /truckelite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^blog/c/css.*$
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?module=$1&action=$2&$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?module=$1&action=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?module=$1&action=execute [L,QSA]

</IfModule>

